<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="script.js"></script>
</head>

<body>
    <div id="root">
       <header>
        <h1 class="title">Shop - {{search}}</h1>
        <div class="search">
            <search-component v-model="search"></search-component>
        </div>
        <div class="actions">
            <custom-button v-on:click="setVisionCard">Корзина</custom-button>
        </div>
       </header>
       <main>
        <div class="goods-list">
            <goods-item v-for="item in filteredItems" v-bind:item="item"></goods-item>
        </div>
       </main>
       <basket-goods v-if="cardIsVision" v-on:closeclick="setVisionCard"></basket-goods>
    </div>
</body>
</html>